.score {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20vmin 2rem 5rem 10vmin;
}
.header {
  font-family: 'Test Untitled Sans', sans-serif;
  padding-left: 1rem;
}
.header .title {
  margin-bottom: 10vmin;
}
.header h1 {
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4rem;
}
.header h2 {
  font-size: large;
  text-align: right;
  font-weight: 400;
}