.score {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20vmin 2rem 5rem 10vmin;
  color: #091f4e;
}
.score .systems {
  width: 100%;
  overflow-x: scroll;
}
.header {
  font-family: 'Test Untitled Sans', sans-serif;
}
.header .title {
  margin-bottom: 10vmin;
}
.header h1 {
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4rem;
}
.header h2 {
  font-size: large;
  text-align: right;
  font-weight: 400;
}

@media print {
  .score {
    padding: 1rem;
  }
  .header .title {
    margin-bottom: 1rem;
  }
  .score #systems {
    margin-top: 0;
  }
}
