.stem {
  --stem-length: 1rem;
  grid-row: var(--pitch);
  grid-column: var(--column);
  height: 100%;
}
.stem.up {
  justify-self: end;
  transform: translateX(-0.03rem);
}
.stem.down {
  justify-self: start;
  transform: translateX(0.03rem);
}
