.stem {
  --stem-length: 1rem;
  grid-row: var(--pitch);
  grid-column: var(--column);
  height: 100%;
}
.stem.up {
  justify-self: start;
  margin-left: 0.27rem;
  /* transform: translateX(-0.029rem); */
}
.stem.down {
  justify-self: start;
}

.flag.down {
  align-self: end;
  justify-self: start;
}
.flag.up {
  align-self: start;
  justify-self: start;
  margin-left: 0.27rem;
  /* transform: translateX(calc(100% - 0.06rem)); */
}