.systems {
  container: systems;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 4rem);
  height: 100%;
  min-height: fit-content;
  margin: 5rem 2rem;
  background: white;
}
