.measure {
  --columns: "";
  --duration: 1024;
  --rows: "";
  display: grid;
  grid-template-rows: var(--rows);
  grid-template-columns: var(--columns);
  flex: var(--duration) var(--duration) content;
  min-width: fit-content;
  color: black;
}
.first {
  background: rgba(255, 255, 0, 0.2);
}
.last {
  background: rgba(255, 69, 0, 0.2);
}
.barline {
  background: transparent;
}