.accidental {
  margin-right: 0.04rem;
}
.articulation {
  justify-self: center;
}
.dot {
  margin-left: 0.12rem;
  justify-self: start;
}
.dot.up {
  transform: translateY(-0.12rem);
}
.legerLine {
  position: relative;
  justify-self: start;
  width: 100%;
}
.legerLine:after {
  content: '';
  position: absolute;
  border-bottom: 0.04rem solid currentColor;
  width: calc(100% + 0.18rem);
  transform: translate(-0.05rem, -50%);
}
.wide:after {
  width: calc(100% + 0.37rem);
  transform: translate(-0.1rem, -50%);
}
