.barline {
  --column: m-bar;
  --row: 1 / -1;
  --separation: 0.1rem;
  justify-self: end;
  width: auto;
  height: 100%;
  grid-column: var(--column);
  grid-row: var(--row);
  overflow: visible;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.barline .line {
  flex: 0 0 auto;
  width: 0;
  height: 100%;
}
.barline.separation .line.margin,
.barline .line.separation.margin {
  margin-right: calc(var(--separation) * 2);
}
.barline .line.thinLine {
  border-right: 0.04rem solid currentColor;
}
.barline .line.thinLine.period {
  border-right: 0.12rem dotted orangered;
  transform: translateX(0.04rem);
}
.barline .line.thickLine {
  border-right: 0.125rem solid currentColor;
}
.barline.separation .line,
.barline .line.separation {
  margin-right: var(--separation);
}
