.period {
  --columns: "";
  --duration: 1024;
  --rows: "";
  display: grid;
  grid-template-rows: var(--rows);
  grid-template-columns: var(--columns);
  flex: var(--duration) var(--duration) content;
  min-width: fit-content;
  color: black;
}
.period:first-of-type {
  padding-left: 1rem;
}

.partLabel {
  display: block;
  word-break: keep-all;
  align-self: center;
  justify-self: end;
  width: max-content;
  margin-right: 0.25rem;
  font-family: 'inter', sans-serif;
  font-size: 0.625rem;
  text-align: right;
}