@font-face {
  font-family: 'Bravura';
  src:
    url(../public/fonts/bravura/woff/Bravura.woff) format('woff'),
    url(../public/fonts/bravura/woff/Bravura.woff2) format('woff2'),
    url(../public/fonts/bravura/eot/Bravura.eot) format('eot'),
    url(../public/fonts/bravura/otf/Bravura.otf) format('otf'),
    url(../public/fonts/bravura/svg/Bravura.svg) format('svg');
}
@font-face {
  font-family: 'Bravura Text';
  src:
    url(../public/fonts/bravura/woff/BravuraText.woff) format('woff'),
    url(../public/fonts/bravura/woff/BravuraText.woff2) format('woff2'),
    url(../public/fonts/bravura/eot/BravuraText.eot) format('eot'),
    url(../public/fonts/bravura/otf/BravuraText.otf) format('otf'),
    url(../public/fonts/bravura/svg/BravuraText.svg) format('svg');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  font-size: 7mm;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  color: currentColor;
}

*, *:before, *:after {
  box-sizing: inherit;
}
